.product-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;

  &__item {
    background-color: white;
    width: 19.15%;
    margin: 0 5px 10px 5px;
    // border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 0px 18px 16px 18px;
    cursor: pointer;
    transition: transform linear 0.1s;
  }
}

.product-list__item::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  width: 0;
  height: 0;
  background: transparent;
  border: 2px solid transparent;
  // border-radius: 10px;
}
.product-list__item:hover::before {
  animation: animate 0.5s linear forwards;
}
@keyframes animate {
  0% {
    width: 0;
    height: 0;
    border-top-color: #62b4ff;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  50% {
    width: 100%;
    height: 0;
    border-top-color: #62b4ff;
    border-right-color: #62b4ff;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  100% {
    width: 100%;
    height: 100%;
    border-top-color: #62b4ff;
    border-right-color: #62b4ff;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
}
.product-list__item::after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  width: 0;
  height: 0;
  background: transparent;
  border: 2px solid transparent;
  // border-radius: 10px;
}
.product-list__item:hover::after {
  animation: animate2 0.5s linear forwards;
}
@keyframes animate2 {
  0% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: #62b4ff;
  }
  50% {
    width: 0;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #62b4ff;
    border-left-color: #62b4ff;
  }
  100% {
    width: 100%;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #62b4ff;
    border-left-color: #62b4ff;
  }
}
.product-list__item:hover {
  transform: scale(1.03);
  box-shadow: 0 3px 12px #ccc;
}
@media(min-width :768px) and (max-width:1024px) {
  .product-list__item {
    width:25%;
  }
}
@media (max-width: 764px) {
  .product-list__item {
    width:46%;
  }
  
}