.product-filters {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  background-color: white;
  height: 128px;
  margin-bottom: 25px;
  padding: 40px;
  border-radius: 10px;

  &__title {
    color: #455560;
    padding: 0 8px;
    margin-right: 85px;
    font-size: 2rem;
  }
}
