.product {
  flex: 4;
  padding: 30px 24px 24px 24px;

  &__pagination {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    margin-top: 30px;
    padding-bottom: 20px;
  }
}
