.filter-products {
  padding: 0 8px;

  &__box {
    padding: 10px 8px;
    width: 200px;
    background-color: #f6f6f6;
    border: 2px solid #00c58d;
    cursor: pointer;
    color: #161f6a;
    font-weight: 700;
    font-size: 14px;
  }

  &__input {
    padding: 10px 8px;
    width: 360px;
    background-color: #f6f6f6;
    border: 2px solid #00c58d;
    color: #161f6a;
    font-weight: 700;
    font-size: 14px;
  }

  &__options {
    background-color: white;
    font-weight: 700;
    font-size: 14px;
    color: #555;
  }
}
