

/*
lform
 filter_products =form 
 formdiv
 form_label*/
 .lform{
     
 }
 .formdiv{
     margin-top: 6px;
     position: relative;
     height:48px;
     margin-bottom: 1.5rem;
     width:453px;
 }
 .filter_products{
     width: 360px;
     padding :4rem;
     padding:4rem 2rem;
     border-radius: 1rem;

 }
 .filterproducts__input{
     position :absolute;
     top: 7px;
     left: 0;
     width : 100%;
     height : 100%;
     font-size :16px;
     border :1px solid #A9A9A9;
     border-radius :.5rem;
     outline :none;
     padding:1rem;
     background:none;
     z-index:1;
     /* background-color:#868686 */
 }
 .form_label{
     position:absolute;
     left: 1rem;
     top:1.25rem;
     padding:0 .25rem;
     background-color: white;
     color:#A9A9A9;
     font-size:1rem;
     transition:0.3s
 }
 .btn_find{
     /* display: block;
     margin-left: auto;
     padding: .75rem 2rem;
     outline: none;
     border:none;
     background-color:blue;
     font-size:1rem;
     cursor: pointer; */
 }
 .filterproducts__input:focus + .form_label{
     top: -.5rem;
     left:.8rem;
     color:#00CC99;
     font-size: 0.9rem;
     font-weight: 600;
     z-index:10;
 }
 /* .filterproducts__input:not(:placeholder-shown).filterproducts__input:not(:focus)+ .form_label{
    top: -.5rem;
    left:.8rem;
    color:blue;
    font-size: 0.9rem;
    font-weight: 600;
    z-index:10;
 } */
 .filterproducts__input:focus{
     border:2px solid #00CC99
 }