.grid__row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
  }
  .grid__column10 {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
  }
  .grid__column24 {
    padding-left: 10px;
    padding-right: 10px;
    width: 20%;
  }
  .grid__column-8 {
    width: 66.666666667%;
    padding-right: 15px;
  }
  .grid__column-4 {
    width: 33.333333333%;
    padding: 0px 15px;
  }
  .grid__column5 {
    width: 50%;
    padding: 60px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
  }
  .home__productitems {
    /* height: 100px; */
    display: block;
    text-decoration: none;
    margin-top: 15px;
    position: relative;
    margin-left: 10px;
    background-color: #fff;
    padding-bottom: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: transform linear 0.1s;
    will-change: transform;
    cursor: pointer;
  }
  .home__productitems::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: 0;
    height: 0;
    background: transparent;
    border: 1px solid transparent;
  }
  .home__productitems:hover::before {
    animation: animate 0.5s linear forwards;
  }
  @keyframes animate {
    0% {
      width: 0;
      height: 0;
      border-top-color: #00CC99;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: transparent;
    }
    50% {
      width: 100%;
      height: 0;
      border-top-color: #00CC99;
      border-right-color: #00CC99;
      border-bottom-color: transparent;
      border-left-color: transparent;
    }
    100% {
      width: 100%;
      height: 100%;
      border-top-color: #00CC99;
      border-right-color: #00CC99;
      border-bottom-color: transparent;
      border-left-color: transparent;
    }
  }
  .home__productitems::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: 0;
    height: 0;
    background: transparent;
    border: 1px solid transparent;
  }
  .home__productitems:hover::after {
    animation: animate2 0.5s linear forwards;
  }
  @keyframes animate2 {
    0% {
      width: 0;
      height: 0;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: #00CC99;
    }
    50% {
      width: 0;
      height: 100%;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: #00CC99;
      border-left-color: #00CC99;
    }
    100% {
      width: 100%;
      height: 100%;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: #00CC99;
      border-left-color: #00CC99;
    }
  }
  .home__productitems:hover {
    transform: scale(1.03);
    box-shadow: 0 3px 12px #ccc;
    margin-top: 15px;
  }
  .home__productitemsimg {
    padding-top: 100%;
    background-size: contain;
    background-position: center;
  }
  .home__productitemsname {
    padding: 0px 10px;
    line-height: 1.8rem;
    height: 3.6rem;
    overflow: hidden;
    font-size: 14px;
    font-weight: 600;
    color: var(--text-color);
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin: 6px 0px;
    margin-bottom: 30px;
  }
  .home__productitemsprice {
    color: #333;
    font-size: 16px;
    margin-left: 15px;
    font-weight: 600;
    line-height: 36px;
  }
  
  .home__productprice {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .btn_cart {
    font-size:13px;
    margin-right: 17px;
    padding: 0px 14px;
    line-height: 32px;
    height: 36px;
    border: 2px solid rgb(247, 247, 247);
    border-radius: 18px;
    font-weight: 500;
    color: #fff;
    background-color: var(--primary-color);
    transition: 0.5s;
    cursor: pointer;
    z-index: 1;
    font-family: 'Font Awesome 5 Free';
  }
  .btn_cart i{
    margin-right:5px;
    font-size:12px;
  }
  .btn_cart:hover {
    letter-spacing: 2px;
    color: #333;
    background-color: transparent;
    border-color: #333;
  }
  .container_productDetails {
    padding-bottom: 0px;
    background-color: #fff;
  }
  
.header{
    margin: 25px;
    margin-left: 44px;
    font-size: 21px;
    font-weight: 600;
}
    