.sidebar {
  flex: 1;
  background-color: white;
  position: sticky;
  top: 100px;
  left: 0;
  height: calc(100vh - 100px);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 4px 12px;

  & > a {
    text-decoration: none;

    &:visited {
      color: #455560;
    }
  }
}

.sidebar-item {
  padding: 15px 20px 0 20px;

  &__inner {
    padding: 15px 25px;
    display: flex;
    align-items: center;
    font-weight: 600;
    transition: #00c58d 0.3s ease 0s;

    & > i {
      margin-right: 10px;
      font-size: 1.5rem;
      width: 24px;
    }

    &:hover {
      color: #00c58d;
    }

    &.active {
      border-radius: 15px;
      background-image: linear-gradient(to right, #00c58d, #00e58d);
      color: white;
    }
  }
}
