.sidebar {
  flex: 1;
  background-color: white;
  position: sticky;
  top: 100px;
  height: calc(100vh - 100px);

  &__wrapper {
    padding: 20px;
    color: #161f6a;
  }

  &__list {
    list-style: none;
    padding: 5px;
  }

  &__list-item {
    height: 64px;
    width: 240px;
    padding: 20px 60px;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;

    & > a {
      text-decoration: none;
    }
  }

  &__icon {
    font-size: 16px;
    width: 16px;
    height: 16px;
    margin-right: 10px;
  }
}
